[2018-10-26 17:11] nparsons08 opened #1 "onClick and/or onSuccess callback for StatusUpdateForm"
The StatusUpdateForm should provide an onClick and/or onSuccess callback.

Example: I would like to trigger a page navigation event after the post was successfully posted to Stream.

[2018-10-30 10:07] JelteF commented on #1
This is now added

[2018-10-30 10:07] #1 closed

[2018-11-04 13:48] TamaWhiu opened #3 "Set "target" when adding new post in "StatusUpdateForm""
Please suggest an approach to set "target" when adding a new post in "StatusUpdateForm" - currently searching thru code/docs.

eg. [https://getstream.io/docs/js/#adding-activities](https://getstream.io/docs/js/#adding-activities)
`// Add an activity to the feed`
`var activity = {actor: 'User:1', verb: 'post', object: 'Place:42', target: 'Group:1'}; `

[2018-11-05 13:18] JelteF commented on #3
I just released v0.5.1 of this library with support for this in the form of the `modifyActivityData` prop:
https://getstream.github.io/react-activity-feed/#!/StatusUpdateForm

You can use it like this:
[code]

Let me know if it doesn't work for you.

[2018-11-05 13:18] #3 closed

[2018-11-05 23:00] TamaWhiu commented on #3
Great - works a treat, also successfully tried out adding "to:"

[code]

[2018-11-05 23:15] TamaWhiu opened #4 "FlatFeed: filter activity by Target"
Related to [#3](https://github.com/GetStream/react-activity-feed/issues/3), I'm looking for a way to filter a FlatFeed by Target eg. Only show activities for a particular Group ID stored in Target.

Currently stepping thru the FlatFeed.js focusing on "FeedRequestOptions" - please suggest the best approach to achieve this.

[2018-11-09 00:18] TamaWhiu commented on #4
If you have a similar use case, get in-touch with support, they're very helpful and addressed it quickly.

[2018-11-09 00:18] #4 closed

[2018-11-11 21:49] mikestaub opened #5 "NotificationFeed doesn't update when NewActivitiesNotification clicked"
I am using the simplest example:

[code]

I expect the Feed to render with the new activities when I click the notification.

For a workaround, I am storing a timestamp in the component state, then setting the Feed's 'key' prop to a new timestamp when the user clicks the Notifier to force a rerender.

[2018-11-12 10:56] jaapbakker88 commented on #5
Thanks for reporting this. We just published a new version of the library that addresses this issue. Could you try it out and confirm it's working now?

[2018-11-12 13:33] mikestaub commented on #5
I tried it out but it is still not working. Can you link to the PR or commit with the fix?

[2018-11-12 14:37] JelteF commented on #5
This one should fix it: https://github.com/GetStream/react-activity-feed/commit/bb1855f02d7a0f9365bf897652da4b29f6b49f4e

Are you using 0.5.6?

[2018-11-12 14:39] mikestaub commented on #5
Yes, I am on the latest, can you link to an example with proper usage?

[2018-11-12 14:47] JelteF commented on #5
Hmm, that's weird. Just to be clear on the issue then:
- You do see the light blue Notifier pop up with a number of missing activities, but when you click it nothing happens?

[2018-11-12 14:49] JelteF commented on #5
Other question, the NewActivitiesNotifaciotn stays there and it doesn't disapear after clicking it?

[2018-11-12 15:18] mikestaub commented on #5
That's correct.

[2018-12-13 00:46] matheusmatos commented on #4
Guys, I have a similar use case, but I'm thinking of another solution. Changing policies would allow a malicious user to post to an unauthorized feed. Instead, would be great if I could implement a custom request to my server. Maybe something as `onRequest` prop. What do you guys think?

[2018-12-13 08:47] tbarbugli commented on #4
@matheusmatos can you create a new issue for this?

[2018-12-18 02:10] nparsons08 opened #8 "Enhancement: Ability to add emoji's via text (e.g. :smile:, :sad:, etc.)"
The `statusUpdate` form should allow for a user to add an emoji much like slack (e.g. inline 👍 or inline 👎) when typing.

[2018-12-25 01:50] vuonghungvinh opened #10 ""like" function for each comment"
How can I add "like" function for each comment on the post

[2018-12-25 08:44] #10 closed

[2018-12-26 17:28] vuonghungvinh opened #11 "Notification still empty when try comment, like... on the post"
I'm using "< NotificationDropdown notify />" to get notification, but when I try comment,like or follow user, but notification still empty

[2018-12-28 03:13] matheusmatos opened #12 "Add onRequest prop in StatusUpdateForm"
Hi guys,

How about adding the possibility to implement a custom request on `StatusUpdateForm`?

Example of use that I'm thinking: `<StatusUpdateForm onRequest = {activity => {}} />`

It would allow to post an activity on other feed without changing app policies.

Thank you all for the great job.

[2018-12-28 11:48] tbarbugli commented on #12
@matheusmatos did you already look at the `to` target feed for this?

[2018-12-28 16:12] JelteF opened #13 "FilePreviewer doesn't allow removing a file while it's uploading"

[2018-12-29 03:15] sicsol opened #14 "Ability to display an Empty list component"
It would be great to have an option to display a custom component if the feeds are empty this is good for all feed types FlatFeed Notification etc.

[2019-01-11 10:17] #13 closed

[2019-01-11 13:41] Saleem-digichowk opened #15 "Error: You are publicly sharing your App Secret."
Iʻm getting this error whiling using your service, can you please help.

Error: You are publicly sharing your App Secret. Do not expose the App Secret in browsers, "native" mobile apps, or other non-trusted environments.

[2019-01-11 13:44] JelteF commented on #15
can you show the output of: `npm list getstream` and `npm list react-activity-feed` (or `yarn list` if you use yarn)

[2019-01-11 13:47] Saleem-digichowk commented on #15
empapp@0.1.0 D:\event_application
`-- react-activity-feed@0.6.7
  `-- getstream@4.1.0

D:\event_application>npm list react-activity-feed
empapp@0.1.0 D:\event_application
`-- react-activity-feed@0.6.7

From: Jelte Fennema <notifications@github.com>
Sent: Friday, January 11, 2019 6:45 PM
To: GetStream/react-activity-feed <react-activity-feed@noreply.github.com>
Cc: Saleem Jafar <saleem.jafar@digich

[2019-01-11 13:51] JelteF commented on #15
Okay, in that case I think you are putting the secret from the dashboard in the token prop, not a user token. To generate a user token follow the docs here:
https://getstream.io/docs/js/#setup

If this is not the case please send a support email with how you initialize the client.

[2019-01-11 15:11] jaapbakker88 commented on #14
I've just released version 0.6.8 which includes the `Placeholder` prop on both the `NotificationFeed` and the `FlatFeed` component. It comes with a default, but you can also inject your own component with this prop.  The placeholder displays  only when an initial request has been made, but no data was returned.

[2019-01-11 15:11] #14 closed

[2019-01-15 17:48] jaapbakker88 opened #16 "IE 11 breaks StatusUpdateForm and other components"
In IE 11 some components are giving the following error: `Object.includes is undefined`.
It seems to be breaking on components that use FontAwesome. We could just replace the icons we're using with hardcoded svg's.

These components are definitely affected
- SinglePost
- StatusUpdateForm
- FileIcon (only dependency is FontAwesome)

[2019-01-18 16:04] JelteF commented on #15
Since you haven't responded I assume this was indeed the case. I will close this issue.

[2019-01-18 16:04] #15 closed

[2019-01-24 23:40] dco5 opened #19 "CSS Module parse failed"
Hello,
I am getting this error when trying to use react-activity-feed

`ERROR in ./node_modules/emoji-mart/css/emoji-mart.css 1:0
Module parse failed: Unexpected token (1:0)
You may need an appropriate loader to handle this file type.

| .emoji-mart * {
|   box-sizing: border-box;
 @ ./node_modules/react-activity-feed/dist/index.es.js 27:0-39
 @ ./src/js/containers/notifications/notifications.js

[2019-01-25 09:16] JelteF commented on #19
I guess you shouldn't exclude `/node_modules/` in you loader. So like this:
[code]

[2019-01-25 21:54] dco5 commented on #19
That worked! Thank you!

[2019-01-25 21:54] #19 closed

[2019-01-27 10:40] wsdt opened #21 "Typescript Typings missing"
Please add support for Typescript (add Typings):
`npm install @types/react-activity-feed --save-dev`

[2019-01-28 17:26] dco5 opened #22 "NotificationDropdown"
Is there a way to change the notification IconBadge in the NotificationDropdown? Or I will have to create my own NotificationDropdown?

[2019-01-29 14:51] Xifeat commented on #11
Same for me actually,

I have my feed, I can like, post on it, but when I click on the notification icon I still have

"no data to display..."

[2019-01-29 15:04] JelteF commented on #11
If you want to add a reaction to a feed you have to use [`targetFeeds`](https://getstream.io/docs/js/#reactions_notify-other-feeds). By default this list is empty. To fill it with something you can do it like this:
[code]

[2019-01-29 15:04] #11 closed

[2019-01-29 20:16] jaapbakker88 commented on #22
Hey! Right now this is not possible, but you can do this yourself quite easily as it's just a small wrapper component with some dropdown logic. It's composed out of the following three components you have access to:

- `<IconBadge />` which you can customize the icon of
- `<DropDownPanel />`
- `<NotificationFeed />`

Let me know if you need any help!

[2019-01-29 20:16] #22 closed

[2019-01-30 16:02] Xifeat opened #23 "Posting on a timeline and get "You don't have permission to do this""
Hi,

 I build a web site using getstream.io and ReactJS everything works, I can comment, like, see the post on the timeline etc... The only trouble, I can't post on the timeline.

I used StatusUpdateForm component, and I got a : 'You dont have permission to do this'

Just to be accurate, I'm not talking about posting on my own timeline, but on timeline friends for example.

Is it just a trouble wi

[2019-01-31 05:47] dco5 opened #24 "NotificationDropDown real-time updates"
Hello,
NotificationDropdown only seems to update real-time when dropdown is open, is this the intended usage? I was hoping to update also if dropdown is close, right now if I get a new notification, the number does not show, only if I reload the page it does show up. I can also see this message on the console log

 when the NotificationDropdown is open

[code]

[2019-01-31 06:01] #24 closed

[2019-01-31 10:21] JelteF commented on #24
Good to hear you figured something out, but there is a much easier way to make this work. You should change the [`sharedFeeds` prop in your `StreamApp` component](https://getstream.github.io/react-activity-feed/#streamapp). By default this is set to make NotificationDropdown work for the "notification" feed group. If you change "notification" in the default value of this prop to "messages" everyth

[2019-01-31 11:14] JelteF commented on #12
This has been fixed. StatusUpdateForm now has a `doRequest` prop.

[2019-01-31 11:14] #12 closed

[2019-02-01 22:59] dco5 commented on #24
Works great! Thanks!

[2019-02-07 18:47] gcwokeup opened #28 "font-family in index.css is applied to the body also"
https://github.com/GetStream/react-activity-feed/blob/master/src/App.css#L1
It is currently applying the the style to `body` as well. I believe you meant for it to be applied only on its children.

I think it should be:
`
body [class^='raf-'],
body [class*=' raf-'] {
  font-family: Avenir, Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
`

Created a pull request for it:
https://github.co

[2019-02-10 20:06] wsdt commented on #21
Something new?

[2019-02-13 10:06] JelteF commented on #28
This is fixed as of v0.7.4

[2019-02-13 10:06] #28 closed

[2019-02-13 22:57] dco5 opened #30 "Mark notification as read"
Hello, is there a way to mark an ActivityGroup as read once you click on the Notification? I am building notifications for my own type of Groups but I can't figure out how to mark them as read when the onClickNotification is triggered. I was examining your Notification.js but I see that the onClickNotification comes from the props, so I followed the trail up, but could not figure out where onClick

[2019-02-14 09:37] JelteF commented on #30
Since version 0.7.0 you can mark activity groups as seen/read easily using the onMarkAsRead/onMarkAsSeen callbacks supplied in the the props to the `Group` component
Something like the following should work (untested code follows):

[code]

[2019-02-14 18:45] dco5 commented on #30
Yes it works! But the activity group stills shows, I though if the activity group was read it would not be shown anymore, how would I remove? I tried onRemoveActivity but it did not worked.

[2019-02-14 19:00] dco5 commented on #30
So I am using this, and it works, but not sure if this is the best way to do it:

[code]

[2019-02-15 09:08] JelteF commented on #30
Yeah that should work. Another way that would work is something like this:

[code]

That way it simply doesn't render read groups.

[2019-02-15 16:15] dco5 commented on #30
Thanks so much for your help!

[2019-02-15 16:15] #30 closed

[2019-02-27 06:56] venix opened #31 "cancel all subscriptions and asynchronous tasks"

[2019-02-27 06:57] #31 closed

[2019-03-28 02:41] mikestaub opened #36 "snapchat stories format"
It would be cool if you supported the stories format for updates. This format is gaining popularity.

[2019-05-01 02:31] dschoon opened #45 "FollowButton missing from package"
When trying to import the FollowButton, I receive an error saying it doesn't exist...

`Attempted import error: 'FollowButton' is not exported from 'react-activity-feed'`

Is it just not implemented yet?

https://getstream.github.io/react-activity-feed/#followbutton

[2019-05-01 06:40] tbarbugli commented on #45
AFAIK it's implemented but not exported

[2019-05-01 08:55] JelteF commented on #45
@jaapbakker88 can you also change the callback prop name to `onClick` instead of `clicked` if that's the case. Since it's not exported yet that's not a breaking change now.

[2019-05-01 13:45] dschoon opened #46 "Allow passing custom Notification renders"
In `components/Notification.js` ([line:144](https://github.com/GetStream/react-activity-feed/blob/master/src/components/Notification.js#L144)) it returns null if the activity verb isn't "follow". This requires you to copy/paste the entire component in order for you to include your own custom switch statement.

Would be super helpful if you could just pass in a custom `AttachedActivity` renderer ba

[2019-05-01 14:12] #46 closed

[2019-05-02 10:57] jaapbakker88 commented on #45
@dschoon I updated the library to version `0.9.9` which exports the FollowButton. Mind that the `clicked` prop changed to `onClick` (cc @JelteF)

[2019-05-04 01:38] liran-co opened #47 "Public Feeds"
I'm confused on how to display public feeds. Using this library requires a user token to be generated, so how would I go about creating a publicly viewable feed?

[2019-05-06 08:43] JelteF commented on #47
For public feeds stream has to change some settings for your app in our admin panel. Please contact us with details on which feed(s)/feedgroup(s) for which of your apps, should be public and if they should be readable+writable by anyone or only readable.

[2019-05-06 09:15] #45 closed

[2019-05-16 23:08] oytuntez commented on #21
Typings make most things easier than documentation

[2019-05-22 08:11] #47 closed

[2019-05-22 08:11] #23 closed

[2019-05-29 01:31] sheng-duetto opened #49 "Add support for inject optional header and footer to NotificationDropdown"
First of all thank you for providing these components they make working with stream much more streamlined.

This is more of a request and not an issue. We have a use case where we need to add some additional links in a header and footer section of the `NotificationDropdown`.  Basically like facebook's dropdown:
![Screen Shot 2019-05-28 at 6 25 24 PM](https://user-images.githubusercontent.com/45951

[2019-05-30 23:54] sheng-duetto commented on #49
cc @jaapbakker88 @JelteF what do you guys think?

[2019-06-12 09:30] jaapbakker88 commented on #49
Sorry for the late response @sheng-duetto. I just released version `0.9.14` which includes an optional `Header` and `Footer` prop on the NotificationDropdown.

You can see it in action here:
https://getstream.github.io/react-activity-feed/#!/NotificationDropdown/1

I'm going to close this now but feel free to reach out if you run into any other issues.

[2019-06-12 09:30] #49 closed

[2019-06-12 21:40] sheng-duetto commented on #49
@jaapbakker88 awesome TYVM confirmed it's working as expected!

[2019-06-12 21:44] sheng-duetto opened #50 "IconBadge Customizable within NotificationDropDown"
One of examples listed under https://getstream.github.io/react-activity-feed/#iconbadge shows that we can customize the icon with our own by passing it children props.

We were hoping to leverage this customize icon feature on the `IconBadge` that gets rendered as part of the `NotificationDropDown` component.

Is it feasible to have `NotificationDropDown` accept an optional Renderable prop that ca

[2019-06-13 08:36] jaapbakker88 commented on #50
@sheng-duetto I just updated 'react-activity-feed' to '0.9.15'. I added an `Icon` prop to the NotificationDropdown to make the icon customizable. You can see in in action here: https://getstream.github.io/react-activity-feed/#!/NotificationDropdown/2

Feel free to reach out if there's anything else we can help you with.

[2019-06-13 08:36] #50 closed

[2019-06-25 17:29] sheng-duetto commented on #50
Sorry for the delayed response I've been away. Thank you again for your help!

[2019-07-01 23:13] sheng-duetto opened #52 "Provide onMarkAsRead functionality to NotificationDropDown Header"
Hi react-activity-feed team,

One of the feature we're trying to build on top of the `NotificationDropDown` is the ability to click on a link in the header of the dropdown that functions as "Mark All Notifications as Read".

For individual notification groups in the dropdown, we were able to use the standard [onMarkAsRead](https://github.com/GetStream/react-activity-feed/blob/c3d2d30e41bc44fdfb708

[2019-07-02 08:35] JelteF commented on #52
You should be able to use FeedContext.Consumer in your Header component to access this method:
https://github.com/GetStream/react-activity-feed/blob/6e9423f1702094d5883e051c1e7f62d84eee0d8a/src/components/ReactionList.js#L40-L42

[2019-07-02 08:38] JelteF commented on #52
Or if you use React 16.6+ you can use the somewhat nicer to use `contextType` API to access the method on `this.context`: https://reactjs.org/docs/context.html#classcontexttype

[2019-07-04 01:10] henryhsue opened #54 "How do I comment (reaction) on an activity as the user in the access token?"
I currently am able to use my access token to view a "team" feed. This feed was set to globally writable by Stream through support. However, when I comment on that feed, the username of that comment is set to the userId prop of that feed (the userId in this case is that of the team feed).

I am still a react and javascript beginner. How can I tweak the code to set the user of the comment to that i

[2019-07-04 01:58] #54 closed

[2019-07-05 23:55] henryhsue opened #55 "How do I update props sent to Activity?"
I am following the stream-react-example to create a feed. However, my app has a login process that updates the state with the correct token (passed as `this.props.token`). I see that `this.props.token` is updated when StreamApp is rerendered, but for some reason actions related to removing a post via `HeaderRight` do not work until I manually refresh the page. Creating a post via `StatusUpdateForm

[2019-07-09 01:59] sheng-duetto commented on #52
@JelteF thanks for the suggestion! the `contextType` worked perfectly for our use case.

[2019-07-09 01:59] #52 closed

[2019-07-10 12:42] jaapbakker88 commented on #55
Hey @henryhsue,

We include a function in our context that forces a reload of everything. It's called changedUserData and you can do it like this if you want a simple onClick refresh. But you can of course implement this whenever you want this to happen. Let me know if it works :)

[code]

[2019-07-11 18:26] sheng-duetto opened #57 "preventDefault error when using InfiniteScrollPaginator within NotificationDropdown"
When using InfiniteScrollPaginator as the Paginator prop instead of the default. It gives the following error in console during scroll.

![Screen Shot 2019-07-11 at 11 23 49 AM](https://user-images.githubusercontent.com/45951428/61075351-9df23f00-a3ce-11e9-93dd-0dc728df1f2a.png)

The InfiniteScrollPaginator also seems to only paginate one page but not the full extend of all the contents.

[2019-07-11 19:06] henryhsue commented on #55
Thanks @jaapbakker88. Will let you know. It may take a while for me to get it figured out as I am still new to React.

[2019-07-16 04:42] henryhsue commented on #55
@jaapbakker88 I mistakenly let StreamApp render before I had a stream access token ready by giving it hard coded (in the code) token with access. I realize, there is async/await to make our Facebook login button give us a token (synchronously) before rendering StreamApp. Thanks still for the response. I need to learn contexts soon :)

[2019-07-16 04:42] #55 closed

[2019-07-16 08:43] jaapbakker88 commented on #55
Glad you figured it out!

[2019-07-24 23:57] henryhsue opened #61 "Any way to automatically load a new activity after posting activity from StatusUpdateForm?"
I'd like to request the ability to automatically see your new post after submitting from StatusUpdateForm. Rather than seeing "You have 1 new activity" as a NewActivityNotification, simply refresh the FlatFeed.

[2019-08-02 11:22] TamaWhiu opened #62 "Multiple Og videos load in StatusUpdateForm but only one shows on the saved activity"
In the StatusUpdateForm you can attach multiple Og videos from youtube.  They appear on the form with bookmarks and the ability to toggle.  However when saved it only shows one video.

**Steps to Reproduce**

- Navigate to https://getstream.github.io/react-activity-feed/#!/StatusUpdateForm or https://getstream.io/react-activity-feed/tutorial/  and scroll down to Status Updates > "Edit on CodePen"

[2019-08-05 07:30] jaapbakker88 commented on #62
Hi @TamaWhiu! This is how it was designed to work. We chose to use only one Open Graph item per post as it makes sense to have a limit or you would get endless posts.

[2019-08-05 08:00] jaapbakker88 commented on #61
@henryhsue this is possible in theory but it will require some complex customisation to our context components. Doing this is very prone to creating bugs. The other option is just refreshing the whole feed when a new activity is posted, but this will create a lot of flickering on the page and the scroll position will get messed up every time something a message is posted. We chose this option as i

[2019-08-05 23:04] TamaWhiu commented on #62
Thanks for the clarification, initially thought multiple Open Graph items on a single post would work ok.

[2019-08-05 23:04] #62 closed

[2019-08-06 19:03] henryhsue commented on #61
I see. No worries, this doesn't seem to be a huge requirement and you're right that other apps and sites have the current option as default. Thanks for the explanation.

[2019-08-06 19:03] #61 closed

[2019-09-10 14:49] agustif commented on #21
I'm gonna give a try at this one! Will report back once I've a PR or something

[2019-10-21 19:01] monirul-hemal opened #64 "ActivityFooter component not found"
There is an ActivityFooter component in the Docs but it's not available to use

[2019-11-11 09:01] familywiser1 commented on #64
I am also having same issue. ActivityFooter is missing from the package

[2019-11-11 09:32] ferhatelmas opened #67 "There are build warnings"
[code]

[2019-11-20 18:29] familywiser1 opened #70 "Update FlatFeed by changing feedGroup property using props?"
I want to update flat feed based on the feedGroup property which is updated via props. For ex:

[code]
StreamApp displays the FlatFeed for the initial value of feedGroup but it does not updateFlatFeed based on different values of feedGroup.

Is there a way to refresh the StreamApp or FlatFeed?

[2019-11-20 23:40] RyanMitchellWilson opened #71 "Cannot resolve module 'url-parse'"
I'm trying to follow the tutorial here https://getstream.io/react-activity-feed/tutorial/?language=js and I'm on pretty much the first step. I've run `npm i --save react-activity-feed` and then added `import { StreamApp } from 'react-activity-feed'` and now I'm getting these errors:
[code]

Has anyone seen this before? Can't seem to figure out the issue.

[2019-11-22 17:35] RyanMitchellWilson commented on #71
I think I found the issue, in this file https://github.com/GetStream/react-activity-feed/blob/92fe43637f64a8df8c132875f49aa1297c4448e7/src/utils.js they are trying to import URL from the `url-parse` node_module, but when you look in the package.json file https://github.com/GetStream/react-activity-feed/blob/92fe43637f64a8df8c132875f49aa1297c4448e7/package.json you can see that `url-parse` is not i

[2019-11-22 17:43] RyanMitchellWilson commented on #71
Running `npm i --save url-parse` should work to get past this issue but that should really be added to the package.json since it is used in the code.

[2019-11-23 18:52] tbarbugli commented on #71
@RyanMitchellWilson that sounds indeed the best solution @vishalnarkhede can you have a look?

[2019-11-25 09:53] jaapbakker88 commented on #70
@familywiser1 indeed doing it like this doesn't work, but you can maybe just reload the FlatFeed when you change the prop like this:
[code]

[2019-11-25 10:43] jaapbakker88 commented on #71
Hey @RyanMitchellWilson I updated this in version `0.9.24` of `react-activity-feed`. Can you confirm this version fixes this issue for you?

[2019-11-25 10:43] jaapbakker88 commented on #64
Hey @monirul-hemal @familywiser1  I added this in version 0.9.24 of react-activity-feed. Can you confirm this fixes this issue for you?

[2019-11-25 10:44] #16 closed

[2019-11-27 06:12] kodah2510 opened #73 "NotificationDropdown is empty after adding new activity into the "notification" feed group in the server-side"
Hi, I'm trying to get NotificationDropdown work following this
[https://getstream.io/blog/how-to-build-a-notification-feed-using-stream/](blog),

Here is the server-side code
`
let client = stream.connect(API_KEY, SECRET_KEY, APP_ID);
let activity = {
    'actor': 'user' + userId,
    'verb': 'follow',
    'object': 'user' + followId,
};

notificationFeed = client.feed('notification', followId);
n

[2019-11-29 12:22] tangentlin commented on #21
TypeScript is way more popular than Flow, so any TypeScript support would be appreciated.

[2019-12-01 11:43] Shahzayb commented on #73
Same issue with me.
here's my backend code:

    const shahNotificationFeed = stream.feed('notification', req.user.id.toString());

    const shahFlatFeed = stream.feed('user', req.user.id.toString());
    shahFlatFeed
      .addActivity({
        actor: req.user.id.toString(),
        verb: 'like',
        object: 'book',
        foreign_id: 'like1'
      })
      .then(console.log)
      .catch(

[2019-12-02 10:20] tariktuzlakovic commented on #64
Hey @jaapbakker88 I can confirm that 0.9.24 version fixed this issue for me. Thanks!

[2019-12-02 12:35] #64 closed

[2019-12-05 06:10] v-yugen opened #75 "Missing API to post an activity"
Hi,

I would like to understand how to post an activity from our react frontend. The getStream REST documentation seem to have this api but there's no matching API available to use from this react-activity-feed. Could you please help me understand how to do it?
![addActivity](https://user-images.githubusercontent.com/45934458/70208594-019d5000-1754-11ea-9205-fd7f76fa5b33.png)

[2019-12-05 06:14] v-yugen opened #76 "Missing API documentation for global read and write"
Hi,

I've reached to GetStream support and have come to know from them that its feasible to do a global read and write to GetStream if we don't need to tightly couple the feeds from a user. Please read my communication thread with support below.

Could you please guide me to the REST API documentation to understand how to integrate global reads and writes?

----------------------
Thanks for your i

[2019-12-05 12:14] tbarbugli commented on #76
Please move this conversation to our official support channels, we only use Github issues for bugs and problems that are related to the projects :)

[2019-12-05 12:14] #76 closed

[2019-12-07 23:47] rafaelzaleski opened #77 "How do I limit the number of reactions loaded in CommentList?"
I'm struggling to figure out how to limit the number of reactions initially loaded by the CommentList component. The default seems to be 5. I have tried to filter the reactions request using the property "doReactionsFilterRequest" but it does not trigger for the first load.

[2019-12-18 15:01] jaapbakker88 commented on #77
Hi @rafaelzaleski you can pass the recentReactionsLimit in the feed options:
[code]

[2019-12-18 15:06] jaapbakker88 commented on #75
@v-yugen you want to either use our StatusUpdateForm component or write your own. You can have a look at how it works by looking at: https://github.com/GetStream/react-activity-feed/blob/master/src/components/StatusUpdateForm.js#L316

[2019-12-18 15:08] jaapbakker88 commented on #73
Hi @kodah2510 can you try the following and see if you get back any results:

[code]

[2019-12-18 15:09] #71 closed

[2019-12-18 16:35] CharlieBliss opened #78 "Override LoadingSpinner in StreamApp component"
As far as I can tell, there is no way to override the Loading Spinner component in the StreamApp component, so it is difficult to customize the loading state of the stream app. The css is also written inline for the LoadingSpinner component, so it can't be targeted and removed via css directly.

[2019-12-18 22:00] mchong-teal opened #79 "StreamApp App secret error"
Trying to test out the react components by following the tutorial, but getting the following error:

[code]

Looks like you can get by that error by passing 'null' as the stream secret to stream.connect, but seems that's being done by the StreamApp component, so not sure if there's a prop I'm missing somewhere?

This is with 0.9.24, just adding the 'StreamApp' component to my app.

[2019-12-19 10:22] jaapbakker88 commented on #78
Hi @CharlieBliss  I have just released version `0.9.25` which includes the prop LoadingIndicator on the FlatFeed which allows you to override the LoadingIndicator component.  I also removed the inline styles so you can update them as well.

[2019-12-19 10:24] jaapbakker88 commented on #79
@mchong-teal Can you elaborate a bit so I can test this for myself, can you share a link to the tutorial you are following? And please tell me at which step you're stuck with this error.

[2019-12-19 15:46] mchong-teal commented on #79
Hey Thanks!

Sorry, just following this tutorial, except I am using an existing app (also built using create-react-app).

https://getstream.io/react-activity-feed/tutorial/
Stuck on the step 'Add Stream to your application', just including the <StreamApp/> component to the app.

Going to try and debug a little bit and can post more details as I go.

Using React v. 16.8.0.

[2019-12-19 15:58] jaapbakker88 commented on #79
@mchong-teal this error usually occurs if you use the apps secret instead of the token. Of course without looking at your code I can't be certain. But that might be a good starting point to check.

[2019-12-19 16:19] mchong-teal commented on #79
Thanks!  The token was the issue; I had mis-copied the token and included some unwanted whitespace.  That being said, the I wonder if the error was a bit misleading..

[2019-12-19 16:23] #79 closed

[2019-12-19 16:43] CharlieBliss commented on #78
amazing! thank you!

[2019-12-20 08:21] #78 closed

[2019-12-23 16:16] rafaelzaleski commented on #77
Thank you, it works!

[2019-12-23 16:16] #77 closed

[2019-12-25 07:55] v-yugen opened #80 "Unable to use Activity component independently"
Hi,

We need to be able to use the activity component independently without needing to use either FlatFeed or SinglePost.

Below code works find if I use Activity component within FlatFeed or SinglePost but when I render only Activity component then it throws an error (image attached) in console,

{(this.props.initiativeStream !== null && this.props.initiativeStream !== undefined) ?
          <Act

[2019-12-30 12:13] jaapbakker88 commented on #80
Hi @v-yugen, could you wrap your code in a codeblock so I can read it a little bit better? Also, why do you want to use it outside of the FlatFeed or SinglePost?

[2019-12-30 12:18] v-yugen commented on #80
Here's the code,
`{(this.props.initiativeStream !== null && this.props.initiativeStream !== undefined) ?
          <Activity
            activity={this.props.initiativeStream}
            Footer={
              <div style={{ padding: '0 16px 16px' }}>
                <CommentField
                  activity={this.props.initiativeStream}
                />
                <CommentList activityId={t

[2019-12-30 12:19] jaapbakker88 commented on #80
So why do you want to use it outside of the FlatFeed or SinglePost components?

[2019-12-30 12:20] v-yugen commented on #80
Hi,

I tried to keep the indentation but as soon as I update the comment, the indentation is lost. Sorry!

[2019-12-30 12:28] v-yugen commented on #80
We want users of our application to post comments against business entities.

As per our understanding of GetStream, comments can be posted only against an activity on the feed group.

If this is true, then we are anticipating to create an activity against each business entity through our application on GetStream.

Once these activities are created, we need to be able to display and add comments a

[2019-12-30 12:31] jaapbakker88 commented on #80
It's true that if you you can only add reactions(such as comments) to activities. But if this is the case I would recommend using the SinglePost component. As this includes a lot of logic related to reactions(comments).

[2019-12-30 12:36] v-yugen commented on #80
Yes. thank you. Finally this is how I could integrate it,

As workaround I had to keep Header="" and Content=""

`{(this.props.initiativeStream !== null && this.props.initiativeStream !== undefined) ?
            <SinglePost
              activityId={this.props.initiativeStream.id}
              Activity={(activityProps) => (
                <React.Fragment>
                  <Activity

[2019-12-30 12:41] v-yugen commented on #80
I have also raised this issue on support ticket,
https://getstream.zendesk.com/hc/en-us/requests/1668

I can see that Stephen has also copied you on this thread.

[2020-01-06 12:01] #80 closed

[2020-01-06 21:34] mchong-teal opened #83 "Don't show alerts please."
Either the StreamApp or NotificationDropdown component is displaying an alert when a network request fails ('Something went wrong when loading your unread notification counts. Is your internet working?').  I need to be able to disable this and hook into my own error handling behaviour.  Had a moment when my internet was cutting out and got spammed with alerts..

[2020-01-07 08:14] jaapbakker88 commented on #83
Hi @mchong-teal I'll try to get a fix out for this as soon as possible

[2020-01-09 09:21] jaapbakker88 commented on #83
@mchong-teal I've release `react-activity-feed@0.9.26` which resolves this issue

[2020-01-09 09:23] #83 closed

[2020-01-09 20:05] mchong-teal commented on #83
Great thanks!

[2020-02-07 06:32] vasanthk97 opened #84 "App crashes when i delete attachment before upload"
Steps to reproduce :

Upload attachment.
Cancel it before its uploaded completely

### Error message
**Cannot read property 'id' of undefined**

[2020-02-07 06:34] vasanthk97 opened #85 "Emojis loading time is high"
Using the default emoji mart for emoji picker in Status Update Form the time to load emojis is usually 4-5 seconds without caching any js.

Any fix for this or can someone suggest any optimisation tips?

[2020-02-12 07:24] vasanthk97 commented on #84
@tbarbugli @vishalnarkhede since we were near to relase and this was a critical issue for us, i have picked up the fix myself and fixed it and raised the PR.  Please look into [this](https://github.com/GetStream/react-activity-feed/pull/86)

[2020-02-12 13:08] shodgetts opened #87 "Notification feed isssue"
Hi get stream team,

We are currently facing difficulty in integrating getstream notifications in react my react project.
We are using your react-activity-feed library.
Use case :

We want to send some notifications generated by system. Similar to how linkedin sends notifications for new jobs or colleague birthdays.

Problem :

We are getting activity group, which is a group of activities as props

[2020-02-19 01:37] ToddHoff opened #88 "On the example project what do you do after "yarn start"?"
I'm not very familiar with react and there was a lot of issues trying to install this project on macos.

I see displayed yarn start in the example directory:

rollup v0.68.2
bundles src/index.js → dist/index.js, dist/index.es.js...
created dist/index.js, dist/index.es.js in 3.8s

[2020-02-18 17:30:39] waiting for changes...

No obvious errors. So how do I see  the website?

I started a web server

[2020-02-25 20:27] ataylormays-duetto opened #89 "StreamApp Timeout is ignored"
We have been receiving timeouts from certain customers. While debugging, I was attempting to increase the timeout by setting the `options` prop on the `StreamApp` react component, like the following:

[code]

However, further debugging showed me that this value is getting ignored. I can see that the StreamClient is getting properly initialized with my options (https://github.com/GetStream/stream-j

[2020-03-02 09:03] junkycoder commented on #10
@vuonghungvinh  And the answer is? 🙂

[2020-03-02 12:02] brunoluiz opened #90 "FlatFeed real-time notification not working"
We are using the following code for one of our flat feeds. It doesn't seem to be receiving data from our web socket, as it never renders the `Notifier` component when we push new activities to the stream.

[code]

Dependencies:

[code]

Am I missing something on this setup?

[2020-03-09 09:57] jaapbakker88 commented on #70
Did you figure this problem out?

[2020-03-14 10:14] surferwat opened #93 "index.es.css is causing issues with nextjs framework"
Hello! Thanks a lot for writing 'react-activity-feed'. It is very helpful.

Unfortunately, it doesn't seem to be working nicely with my nextjs app. According to the maintainers of nextjs, the issue arises because 'react-activity-feed' imports a CSS file that my app ends up consuming instead of the built package. Please see the error output pasted at the end.

One possible solution that they sugges

[2020-03-19 09:32] surferwat commented on #93
Hi, just wanted to check in about my issue. Is there somewhere else where I should send my inquiry to? Thanks.

[2020-04-04 15:18] agustif commented on #93
surfer can you share some codesandbox or somethingg? Im interested on using stream+next too and could try help to debug.

Are you using 9.3.2? Are you adding necessary css loaders etc?

Good luck

[2020-04-04 19:43] vishalnarkhede commented on #93
Hey @surferwat @agustif I will try to investigate on this next week and get back to you. Sorry for the delays :)

[2020-04-04 19:54] agustif commented on #93
@vishalnarkhede No probllem thank you.

[2020-04-07 11:07] surferwat commented on #93
@augustif I am using v.9.3.0. See below for code in my next.config.js. Thanks.

[code]

@vishalnarkhede Thanks. I'm looking forward to the outcome of your investigation.

[2020-04-09 15:50] ilionic commented on #93
Experiencing same issue.
That's due to this direct import
https://github.com/GetStream/react-activity-feed/blob/b1bd8518f84cb60859fc5a25383012ab94ce1a6c/src/components/Textarea.js#L10

[2020-04-10 06:14] surferwat commented on #93
@vishalnarkhede any initial feedback on whether it will be possible to fix as suggested by @ilionic ?

I need "load more" functionality, so am wondering whether I should wait or go ahead write my own component for it. Thanks.

[2020-04-10 07:13] vishalnarkhede commented on #93
@surferwat @ilionic @agustif Fix is on the way!

Thanks @ilionic for investigation :)

[2020-04-10 07:17] vishalnarkhede commented on #88
Hey @ToddHoff

Please confirm if you did following steps:

[code]

[2020-04-10 07:21] vishalnarkhede commented on #85
Hey @vasanthk97 emoji-mart is quite heavy in fact. We have a plan of of replacing it with some lightweight solution in near future. I will keep you updated about it :)

[2020-04-10 07:36] vishalnarkhede commented on #93
@surferwat @agustif @ilionic  please use `0.10.2`. I have published the fix on this version!

Let me know if it fixes your issue :)

[2020-04-10 08:38] surferwat commented on #93
@vishalnarkhede thanks for the quick turnaround.

I get the a ReferenceError: document is not defined. See error message below.

[ error ] ReferenceError: document is not defined
    at /web-app/node_modules/blueimp-load-image/js/load-image-orientation.js:47:15
    at /web-app/node_modules/blueimp-load-image/js/load-image-orientation.js:53:5
    at /web-app/node_modules/blueimp-load-image/js/load-

[2020-04-10 08:46] vishalnarkhede commented on #93
@surferwat can you please setup a sample nextjs app where I can see the error? That will help me resolving all the issues faster.

[2020-04-10 10:22] surferwat commented on #93
@vishalnarkhede Thanks. Are you not getting the same error on your nextjs app?

[2020-04-10 11:31] ilionic commented on #93
@surferwat re.

That's due to next.js SSR, you just need to use dynamic import with `ssr: false`

[2020-04-10 18:00] surferwat commented on #93
@ilionic thanks. That worked like a charm. Although now there is a loading delay between the app nav bar and the feed. I think I like the effect of the entire page loading together offered by ssr.

@vishalnarkhede would it be possible to add a check of some sorts for `document` so that applicable functions don't run unless it is defined?

[2020-04-10 19:08] ilionic commented on #93
Thanks pretty common use case in next.js world as many libraries are client side only, so you can implement preloader ( actually similar thing I did for Stream Chat ). So asking library for SSR support not always feasible.

[2020-04-13 17:04] vishalnarkhede commented on #93
@surferwat I haven't yet got chance to test it myself, but from the discussion I can see the cause of issue. We will try to look into it this week and get back to you :)

[2020-04-14 14:51] surferwat commented on #93
@vishalnarkhede That sounds great. Thanks a lot.

[2020-04-14 19:52] shanemduggan commented on #70
@jaapbakker88 Having some trouble getting the refresh to work. Getting a `this.listRef.onRefresh is not a function` error. Any idea what I'm doing wrong?

[2020-04-18 08:16] hazemKhaled12 opened #97 "limit the no. of feed and stop pagination"
I need to get the feed using flatFeed and limit it to 3 items only with no pagination
I did the limit but couldn't remove the Loadmorebutton
Here is the code

<StreamApp apiKey="2ce58792n4qz" appId="56926" token={feeds.data.token}>
				<FlatFeed
					feedGroup="subscription"
					notify
					Notifier
					Placeholder={
						<div>
							<h4>There are no feeds available</h4>
						</div>
					}

[2020-04-21 00:29] surferwat commented on #93
@vishalnarkhede Any updates? Thanks.

[2020-04-24 17:51] agustif opened #99 "I can't get esTranslations to work."
I don't know what I might be doing wrong.

This is my Stream18n.js file:
[code]

And this my StreamAppFeed:
[code]

THANKS

[2020-04-24 17:51] agustif commented on #99
I've opened PR #98 with spanish translations, maybe that makes it easier for me to use Spanish?

[2020-04-24 18:41] vishalnarkhede commented on #99
@agustif in this case, when you do `const i18n = new Streami18n();` and use `i18n` in StreamApp component, the language is set to `en` - https://github.com/GetStream/react-activity-feed/blob/master/src/Context/StreamApp.js#L173

This if condition will result in false, since i18n is an instance of your own Streami18n class, not the one which is present in sdk.

So don't use write your own `Streami1

[2020-04-24 19:01] agustif commented on #99
Hey @vishalnarkhede it worked like a charm (I used your first solution!)

Right now working in Spanish!

<img width="687" alt="Captura de pantalla 2020-04-24 a las 20 59 20" src="https://user-images.githubusercontent.com/6601142/80247606-9e627a80-866e-11ea-8aee-a78aa984074d.png">

Thank you very much for your quick response!

[2020-04-24 19:01] #99 closed

[2020-04-28 10:50] jakubkosinski opened #100 "Tree-shaking support for webpack"
It looks like the exported library doesn't support tree-shaking so even if you're using only small subset of exported components (e.g. only `<StreamApp>`), the full bundle is loaded, including heavy dependencies like `emoji-mart`, `twitter-text` & `@fortawesome`. Could you export also individual components so that we can import only ones that are actually used?

[2020-05-04 00:55] surferwat commented on #93
@vishalnarkhede hi, just checking in. Any updates? Thanks.

[2020-05-04 07:08] vishalnarkhede commented on #93
@surferwat I am really sorry. but I haven't yet managed to look into this yet. I will try to do it this week and get back to you before end of week :)

[2020-05-08 07:34] surferwat commented on #93
@vishalnarkhede No worries. Thank you for taking a look into this.

[2020-05-13 07:46] jaapbakker88 commented on #90
Do you see the messages in the console saying "now listening for realtime...."

Can you add the `userId` prop to the FlatFeed component.

[2020-05-15 17:29] Shehbaz opened #101 "Module not found: Error: Can't resolve 'babel-runtime/core-js/json/stringify'"
[code]

Looks like the dependency emoji-mart is breaking. Any work around this or solution?

[code]

[2020-05-20 15:35] j86hughes opened #102 "unseen activities IconBadge doesn't disappear after marking activities as seen in DropdownNotification"
I am using the NotificationDropdown component. When I have unseen activities in the feed, the IconBadge is displayed over the bell icon with the number of unseen activities. I expect the IconBadge to disappear when clicking on the bell icon, as I am calling onMarkAsSeen for each Group rendered in the NotificationFeed, however the IconBadge doesn't disappear unless I manually refresh the page.

[2020-05-25 16:02] ferhatelmas opened #103 "Provide a prop disable file attachments"
Similar to `maxNumberOfFiles` in [chat](https://github.com/GetStream/stream-chat-react).

/cc @jaapbakker88

[2020-05-28 13:55] j86hughes commented on #87
In the case of aggregated feeds where you don't want activities to be aggregated but still keep the mark_read/mark_seen functionality, you can change the aggregation format for that particular feed in your GetStream dashboard like so:

`{{ id }}`

[2020-05-28 17:27] ferhatelmas commented on #87
The answer from @j86hughes is correct and complete, closing.

[2020-05-28 17:27] #87 closed

[2020-06-01 15:34] vivaldi-va commented on #102
I've looked into this a bit and believe I've found the reason for this, and other similar issues. From what I can tell, the issue stems from having multiple `FeedManager` contexts nested, and becoming out of sync from one another. Thus, updating with `mark_seen` for example, will cause the state on the child context, but not the parent.

e.g. using a rough copy of the `NotificationDropdown` compon

[2020-06-08 11:13] mahboubii commented on #102
If you are instantiating multiple Feed Managers for a feed this behavior is expected. You can use the [sharedFeeds](https://getstream.github.io/react-activity-feed/#streamapp) prop.

[2020-06-08 23:07] #102 closed

[2020-06-16 08:09] TamaWhiu commented on #11
Hi thanks for the example above.  I'm trying to work out how to achieve a similar thing for adding a comment "CommentField" and  a post "StatusUpdateForm" any guidance will be appreciated.

[2020-06-30 15:55] luisfuertes opened #106 "FlatFeed filtered by reactions"
Im trying to show FlatFeed filtered by reaction, example "like"

How can i get this data with pagination?

I check `doReactionsFilterRequest` but dont have any documentation about it.

I has tried doFeedRequest but pagination didnt work:
[code]

Any idea about how can i list items filtered by reactions in FlatFeed?

[2020-07-01 08:26] jaapbakker88 commented on #106
@luisfuertes I'm not a 100% sure what you're trying to do here, but there's a couple of things wrong with what you're doing.

First off, you can't filter on a reaction_kind (not sure what you want this to do either).

Also with the way your doing it pagination doesn't work because onFeedRequest you keep running the same code. So you'll always get the same results.

[2020-07-01 09:57] luisfuertes commented on #106
Thanks for answer @jaapbakker88

I am trying to make a list of only the activities on my timeline that I have liked (like reaction)

This query is working, but of course, as you say, the pagination does not work. I am passing the options that I receive from my FlatFeed to do the query in the doFeedRequest, but these options do not paginate

What would be the correct way to do a timeline only with

[2020-07-01 10:00] luisfuertes commented on #106
In my opinion FlatFeed should call "doFeedRequest" method every FlatList onEndReached event, with new pagination options.

[2020-07-01 10:08] jaapbakker88 commented on #106
That's what it does, but as your running the same code on doFeedRequest you're getting the same results. If you want to do it this way, you will have to handle pagination yourself as well.

[2020-07-01 10:09] luisfuertes commented on #106
FlatFeed call doFeedRequest every FlatList onEndReached? Are you sure? h

How can i get current list in doFeedRequest function?

[2020-07-03 08:57] luisfuertes commented on #106
@jaapbakker88 doFeedRequest is not called when you get to the end of the list.

I can use FlatList onEndReached prop to get it, but i cant set FlatList data and i dont have "client" object out of `doFeedRequest`function.

[2020-07-03 09:23] jaapbakker88 commented on #106
@luisfuertes Are you actually talking about react native? Just realised we don't have an onEndReached in our react library.

[2020-07-03 09:35] luisfuertes commented on #106
Yes, he is the prop to paginate the FlatList (FlatFeed in your component).

[2020-07-07 09:52] luisfuertes commented on #106
any update @jaapbakker88 ?

[2020-07-07 13:10] jaapbakker88 commented on #106
Let's move this to our react-native library as it's not the same codebase. Feel free to open an issue there an mention me in it.

[2020-07-07 13:22] #106 closed

[2020-07-17 10:25] YannHulot opened #109 "Timestamp in comments is displayed in UTC"
The timestamp showed in the comments is always set to UTC time.
How can set it so that it detects the UTC offset and displays the correct time elapsed since the comment was published?

[code]
It is not very well explained in the docs.
I apologize if this is not the correct place to ask this question.

[2020-07-21 15:16] jaapbakker88 commented on #70
@shanemduggan are you still having this issue and if yes, can you provide some more context to this question, maybe share some of your code.

[2020-08-07 09:09] yumoraby commented on #73
Having the same issue:

I get the following output in the UI:

![image](https://user-images.githubusercontent.com/44016097/89629536-d1fa9680-d852-11ea-94ec-908801238a10.png)

Console.log
[code]

[2020-08-11 09:04] jaapbakker88 commented on #73
@yumoraby our default component does not work with all verbs. So as you're actually seeing "notification" being printed out, they are there, they're just not being rendered because we don't support your verb. You would have to supply your own notification component to the Group prop on NotificationDropdown. You can have a look at this component to see how we do this:

https://github.com/GetStream/

[2020-08-11 11:37] 77kevink opened #112 "List of feeds"
When i get activities from people i follow like this:

const user = client.feed('feed_one_flat', `${profileId}`, `${getstreamToken}`);
const feeds = await user.get({ limit: limit || 10 });

i get also my activities. Is there a way to get only activities from people i follow?

[2020-08-11 11:56] tbarbugli commented on #112
you get your own activities because one of these reasons:

- you add activities to your `feed_one_flat:${profileId}` feed (either directly or via `to` target field)
- your `feed_one_flat:${profileId}` feed is following the personal feed where activities are added

[2020-08-12 06:10] yumoraby commented on #73
Looking at the code i changed the verb to like, repost and still getting the same result.

[code]

[2020-08-12 08:00] jaapbakker88 commented on #73
Alright, it's probably going wrong where you're adding the activity, your object is just a string, but it's expecting an object with a verb, actor, etc..
https://github.com/GetStream/react-activity-feed/blob/master/src/components/Notification.js#L119

how are you adding the activity to the notification feed?

[2020-08-12 17:10] yumoraby commented on #73
the code to create the notification:

[code]

[2020-08-13 08:44] jaapbakker88 commented on #73
so you're message is a string, this should be an object, with a verb, actor etc.

[2020-08-13 08:59] yumoraby commented on #73
Am following the guidance in creating an Activity here. https://github.com/GetStream/stream-net

[2020-08-13 10:50] 77kevink commented on #112
Ok, but is there any way to filter feeds i get with 'get' method? For example can i pass some ore one ID to this method from which i don't want to get feeds?

[2020-08-13 12:11] tbarbugli commented on #112
that's not supported by the API, it would not be very feasible because in most cases you would not know which feeds to filter out. Unless you need very complex filtering logic the simplest approach is to have different timelines (ie. use 1 timeline to follow N feeds and another to follow M feeds). If you can provide more info on your use case I am happy to help :)

[2020-08-13 18:33] yumoraby commented on #21
any updates on Typescript support?

[2020-08-14 01:52] yumoraby commented on #73
Running this code, i can get the page to render:

[code]

[2020-08-17 09:59] jaapbakker88 commented on #73
@yumoraby issue is resolved then?

[2020-08-17 10:00] ferhatelmas commented on #21
Underlying [js](https://github.com/getstream/stream-js) package is converted, we are coming to this soon.

/cc @mahboubii

[2020-08-17 19:22] yumoraby commented on #73
I have a working solution that is handled outside of the formal docs. This may help others who run into this issue as well.

[2020-08-31 09:45] Matiyeu commented on #57
up

[2020-09-01 07:18] jaapbakker88 commented on #73
The notification feed is an aggregated feed(eg. x people liked {activity}), now you're extracting the activities out of the group which is possible, but not how it was intended to be used. Glad you resolved your issue, but we won't update this in our docs. I will write a bit on how to write your own notification component.

[2020-09-01 07:18] #73 closed

[2020-09-04 18:28] justin-snap opened #117 "Notifications in NotificationFeed not rendering"
Trying to render out the NotificationFeed on my frontend. It is making the call to the stream api to get activities, however it's not rendering any of them.

On backend I am using the `stream-php` library adding activities that look like so:
[code]
10 and 11 being the user_id's of properly initialized users

Response given from the NotificationFeed component fetching `/enrich/feed/notification/10/

[2020-09-04 20:49] justin-snap commented on #117
I can see on the demos the activities in the response have data under the `object` key, rather than a string. Which causes the null render when looking here:
https://github.com/GetStream/react-activity-feed/blob/master/src/components/Notification.js

Is there something wrong with how I'm adding activities to the notification feed?

[2020-09-07 12:33] jaapbakker88 commented on #117
@justin-snap I think the way you're adding activities is wrong, because it's a reference to an object we need to enrich you'll need to specify the collection as well. In this case the `User` collection.

so this would be something like this:
[code]

[2020-09-11 05:27] YannHulot commented on #109
Small Bump.

Does anybody have any insights regarding my question?

[2020-09-22 19:48] darioduetto opened #119 "ErrorHandler is not called and an exception is thrown instead"
The component provides an `errorHandler` hook so that we can handle errors on our side. But sometimes, there are errors that are not sent through the errorHandler, but are thrown within react-activity-feed instead.

For example we have the "Token is expired" error sometimes being sent to the errorHandler and sometimes for some reason being thrown within the component itself:

react-activity-feed:

[2020-10-22 09:31] vonbv commented on #47
Is this still a manual thing? Meaning that you have to configure something in the back-end? Is a public feed still not possible via code?

[2020-10-22 12:15] ferhatelmas commented on #47
@vonbv yes, that's case. It's an API but internal. We will expose it and all feed management though.

[2020-10-27 14:10] kzazarashvili opened #122 "NotificationDropdown re-renders twice on live update resulting in duplicate realtimeAdds and incorrect unseen count"
The user is subscribed to real time notifications, and somehow when only one notification is created - the `NotificationDropdownInner` component re-renders twice 👇

1.
![image](https://user-images.githubusercontent.com/11047007/97311453-ce891100-187d-11eb-8211-2854314eae1a.png)
2.
![image](https://user-images.githubusercontent.com/11047007/97311525-e2cd0e00-187d-11eb-9d80-782762e9e144.png)

---

T

[2020-11-02 15:12] bulby97 commented on #21
Hi, any news regarding this ?

[2020-11-02 16:39] ferhatelmas commented on #21
Unfortunately, not yet. We are planning to come to it by Q1 next year.

However, change won't only be typescript rewrite but also better testing, dependency upgrades and their idiomatic API, implementation of a few missing features.

[2020-11-04 12:49] rkulinski commented on #90
I'm having the same issue. Passing `userId` didn't help.

[2020-11-09 08:44] jaapbakker88 commented on #90
yeah it's not live updating for removeActivity, only on new activities(which wil show the "you have X new activities" banner). For others you wil have to refresh, which is intended behaviour.

[2020-11-09 20:22] rkulinski commented on #90
@jaapbakker88 how should I know "in browser" when server deleted some activity (let's say another user deleted it)?

[2020-11-23 18:00] jeancrus-pixelwolf commented on #117
Im trying to make the example project to work, but notificationdropdown doesnt open the popup window. The api request seems to work and the number in the badge disappear, but the window is not showing. Some idea about it?
My code:
`
<StreamApp
        apiKey=""
        appId=""
        token=""

        <div
          style={{
            background: "#fff", //#1A1A14
            height: 60,

[2020-11-23 23:33] jeancrus-pixelwolf commented on #117
I found out that problem! Its react version.. are u guys going to fix it to work with react ^17.0.0?

[2020-11-25 01:28] vonbv commented on #47
@ferhatelmas thanks for confirming it. Is there an ETA on when it will be exposed?

[2020-11-30 08:35] hliangz opened #124 "NotificationDropdown - close dropdown after click activity"
Hi,

I want to close the dropdown when I click on one of the activities.
Is there a way to do this? eg:

[code]

Thank you

<img width="479" alt="Screen Shot 2020-11-30 at 7 31 10 pm" src="https://user-images.githubusercontent.com/64247934/100586035-a5f3ab80-3342-11eb-9f82-3393f81fe4aa.png">

[2020-12-06 22:14] mm7mod opened #126 "upload image using StatusUpdateForm always fails"
I have a problem with uploading an image with StatusUpdateForm component

it always gives me : "something went wrong when uploading your image .Is your internet working ? ...etc "

![130196981_207050597657735_3972864734010711280_n](https://user-images.githubusercontent.com/46278471/101294543-a39cc000-3820-11eb-8647-ba7b5cb9033d.jpg)

- uploading only text posts work however with images it gives me

[2020-12-07 00:20] #126 closed

[2020-12-07 00:21] mm7mod commented on #126
it is related to react native so opening it in :
https://github.com/GetStream/react-native-activity-feed/issues/160

[2020-12-08 05:06] TylerAHolden opened #127 "Remove requirement of token for initialization"
My current understanding is that for a client side token you need to request a user token from a backend (in my case a serverless function) and use that to pass into the StreamApp component. However, the StreamApp component crashes and breaks if it does not receive a proper token:
[code]

This is an issue because I do not want to wait on that API call to return a user token in order to initialize

[2020-12-10 11:33] #124 closed

[2020-12-15 08:58] vishalnarkhede commented on #109
@YannHulot I am looking into it now! Will get back soonish :)

[2020-12-15 23:45] lambardi commented on #109
@YannHulot Thanks so much for your patience! Thanks, @vishalnarkhede for jumping in!

[2020-12-25 17:02] manuelurenah commented on #70
@jaapbakker88 I'm having a similar issue regarding to programmatically refresh the `FlatFeed` component. In my case, I'm using the `SinglePost` component to render an Activity in a modal, which supports posting comments to the activity with the `CommentField` component and display the list of comments with the `CommentList` component as well. The issue comes when updating the activity inside the `

[2021-01-07 13:13] mtkopone commented on #117
I'm also running into this. Can you provide some detail on where the problem is, so maybe i could bypass it locally somehow?

[2021-01-22 21:21] TylerAHolden commented on #73
Can I suggest something being added to the docs to describe this behavior? I couldn't find anything in there explaining this pitfall... The docs just say use a verb so okay I used my own verb unknowing that I would run into this strange issue.

[2021-01-25 04:28] TylerAHolden commented on #127
Any updates on this? This is still an issue...

[2021-01-25 07:56] aamir-ans opened #136 "React version 16.2.0 support"
Is this module supported for react version 16.2.0 ?

[2021-01-26 07:06] TylerAHolden commented on #117
Their support team still hasn't been able to figure this out for me

[2021-01-26 12:50] mahboubii commented on #136
hey @aamir-ans, unfortunately, the minimum supported react version is `v16.8.0`.
Let us know if we could help you with anything else.

[2021-01-26 12:50] #136 closed

[2021-02-11 16:56] mahboubii opened #141 "Override file/image upload function"
StatusUpdateForm should accept a custom function to be used for file/image upload

[2021-02-23 22:43] hmolotsi commented on #70
@manuelurenah Here's an ugly hack that works for me:

`class SocialFeed extends Component {
  containerRef = React.createRef();

  constructor(props) {
    super(props);

    this.state = {
      refreshHack: false,
    };
  }

  componentDidUpdate(prevProps) {
    if (prevProps.feedGroup !== this.props.feedGroup || prevProps.feedId != this.props.feedId) {
      // Hack to force the FlatFeed to up

[2021-02-23 22:48] hmolotsi commented on #70
@manuelurenah this worked for me:

[code]

[2021-02-25 09:08] idiglove opened #155 "Show nothing when there are no followed feed in the activity"
Hello

I need to show Feeds from people I followed. But I also need to know if there arent anything from all the activities.
I find it hard to do this.

Here's a snippet of my work

[code]

[2021-03-05 16:30] hmolotsi opened #176 "Please add Card parameter to Activity"
Please add a Card parameter to Activity - similar to react-native-activity-feed (attaching the relevant documentation).

![Screen Shot 2021-03-05 at 8 28 44 AM](https://user-images.githubusercontent.com/1559311/110144206-eec95f00-7d8c-11eb-905a-6efb40f10ec3.png)

[2021-03-06 19:41] dubitoergo commented on #61
I'm also looking for some form of flat feed that updates automatically. @jaapbakker88 A notification feed which updates by 'animating in' new activities from the top seems practical (and desirable) for a number of situations. Consider a component functioning as 'history'. If you'd like to update this feed in real-time as a user browses, real-time UI updates would be great. No? Thoughts? What am I

[2021-03-08 19:15] dubitoergo opened #179 "Websocket Connection Failed"
On **certain** Wi-Fi networks my activity feed won't load. When I check the console I see:

`browser_websocket.js:8 WebSocket connection to 'wss://faye-us-east.stream-io-api.com/faye' failed: Error in connection establishment: net::ERR_CONNECTION_RESET`

I honestly don't have the faintest idea about how to begin debugging this issue. My application works find on most networks, but whenever I'm wor

[2021-03-23 11:35] parthsavaliya1 opened #199 "Notification in notificationDropdown is not in proper time sequence."
https://prnt.sc/10tex6z

[2021-03-24 14:33] parthsavaliya1 opened #202 "NotificationDropDown component not return notification in group. like first return connection_request verb after that it's return meeting_scedule_reuest after that again it's return connection_request."
[
![Screenshot (311)](https://user-images.githubusercontent.com/49479934/112327626-962a1980-8cdb-11eb-879e-a70cc75b64e8.png)
](url)

[2021-03-25 19:17] dilanustek commented on #21
I'm wondering if this issue is coming to a resolve anytime soon?

[2021-03-25 19:26] mahboubii commented on #21
We are currently working on releasing a new version of this library with full Typescript support. You can see the progress here #164.

[2021-04-04 14:09] andrewbihl opened #222 "Is there a smaller source of basic components?"
Hi there,

I am trying out GetStream for the first time. Is there a smaller source of basic components to use with React? The size of this package makes it a non-starter for almost any real-world product I am sure, but I haven't found guidance on what people are doing instead. Just pull the pieces of the source code that you need? Is there any easier solution?

[2021-04-06 06:13] rblalock opened #223 "Is it not compatible with newer versions of React?"
[code]

[2021-04-08 04:47] hliangz commented on #124
hi @TylerAHolden  yes, I did
I just tigger the click on it's parent diiv wrapper: `streamContainerRef.current.click();`

[2021-04-12 06:48] mahboubii commented on #223
Hey @rblalock, the current version should support React v17. If you are getting an error you might need to tweak your npm install command.
We are about to release a new version of the library with official support for v17 and typescript out of the box in few weeks.

[2021-04-12 13:13] rblalock commented on #223
Yeh I'm getting the error posted above.  I've tried with --force and the one that allows legacy deps but it won't build on a brand new NextJS app.

[2021-04-14 01:44] rblalock commented on #223
For example... using --legacy-peer-deps (which is the only way npm install will work with a new NextJS project), I get this later on:

[code]

[2021-04-14 23:06] TylerAHolden commented on #124
I guess that makes sense. It seems like a strange hack... I wish there was an exposed function or something from Stream

[2021-04-19 12:18] giladkah commented on #85
hey @vishalnarkhede! Any update here?

[2021-05-05 10:17] mahboubii commented on #84
fixed in #164

[2021-05-05 10:17] #84 closed

[2021-05-07 12:00] #67 closed

[2021-05-09 12:13] yumoraby opened #260 "Cannot import from react-activity-feed 1.0"
Getting the following error when compiling app in Docker, running locally in a dev environment is fine no issues.

[code]

[2021-05-10 07:22] mahboubii commented on #260
@yumoraby could you share more info on how to reproduce this issue?

[2021-05-10 07:24] mahboubii commented on #223
@rblalock should be fixed in [v1](https://github.com/GetStream/react-activity-feed/releases/tag/v1.0.0).

[2021-05-10 07:24] #223 closed

[2021-05-10 07:25] mahboubii commented on #222
Hey @andrewbihl, we recently released the [v1](https://github.com/GetStream/react-activity-feed/releases/tag/v1.0.0) version of the library which drastically reduces the bundle size. You can also import single components if you want to skip the bigger ones.

[2021-05-10 07:25] #222 closed

[2021-05-10 07:27] mahboubii commented on #199
hey @parthsavaliya1, this could potentially be caused by the grouping logic you use for the notification feed. You can see some examples in the [Dashboard](https://getstream.io/dashboard) if you go to your Notification feed settings.

Going to close this for sake of cleanup, feel free to respond here if you still had any issues.

[2021-05-10 07:27] #199 closed

[2021-05-10 11:44] mahboubii commented on #260
This looks like a setup issue, can you try with the [example app](https://github.com/GetStream/react-activity-feed/tree/main/example) we have and see if you can break it on linux?

[2021-05-10 11:48] mahboubii commented on #101
Fixed in v1.

[2021-05-10 11:48] #101 closed

[2021-05-10 11:51] mahboubii commented on #85
[v1](https://github.com/GetStream/react-activity-feed/releases/tag/v1.0.0) ships with a lighter set of emojis and should fix this issue.

[2021-05-10 11:51] #85 closed

[2021-05-11 00:03] yumoraby commented on #260
Built the example app and it works. For the example i ran:

yarn install on the parent directory, and yarn install on the example directory.

However still getting the same problem when running 'yarn run build':

[code]

Will try recall the e

[2021-05-11 10:16] yumoraby commented on #260
I tried a number of steps and found that it worked without issue on Windows and macos. In the end i could not find a solid fix, so added
// @ts-ignore to the import lines, and was able to build the react app in Docker and on Linux.

Have no idea why some of the functions do not export, whilst other imports work without issue.

Closing this issue

[2021-05-11 10:16] #260 closed

[2021-05-12 03:01] ellioseven commented on #260
I'm running into exactly the same issue. I think this should be re-opened because simply ignoring it will loose TypeScript benefits.

[2021-05-12 03:43] ellioseven commented on #260
Something very strange here, I can see that the `src` and `dist` directories don't match up:

![image](https://user-images.githubusercontent.com/4191120/117914950-9c299780-b327-11eb-8b36-89750e7965f8.png)

Note `src/context` and `dist/Context`.

If I rename `dist/Context` to `dist/context`, then it works, however I get a bunch of warnings:

[code]

[2021-05-12 03:55] ellioseven commented on #260
I managed to solve the moment.js warnings by pinning the moment.js version in `package.json`:

[code]

However, I'm still seeing the context difference in `src` and `dist`. @yumoraby Perhaps other OS's aren't case sensitive, so users only Linux will see this when consuming anything in context?

@mahboubii I can see `context` was previously named `Context` in previous commits. Maybe the package nee

[2021-05-12 08:10] #75 closed

[2021-05-12 09:30] mahboubii commented on #260
@ellioseven @yumoraby Thanks for reporting this issue, please bump to `v1.0.1`.

[2021-05-13 05:20] ellioseven opened #263 "Dynamically change feed group"
I'm trying to change the feed group dynamically from a select input inside my `Activity` component. I'm using the `<Feed>` component to build the feed context. No matter what I do, I cannot get the feed activities to change when the dynamic feed group is updated:

[code]

I've tried many things, such as updating the key:

[code]

this results in:

[code]

Which seems to happen when the subscriptio

[2021-05-13 10:10] pyrytakala commented on #73
+1 for adding this to documentation, e.g. to https://getstream.io/react-activity-feed/tutorial/ and https://getstream.github.io/react-activity-feed/

[2021-05-17 12:31] mahboubii commented on #100
@jakubkosinski thanks for reporting this, it should be fixed in [v1.1.0](https://github.com/GetStream/react-activity-feed/releases/tag/v1.1.0).

[2021-05-17 12:31] #100 closed

[2021-05-18 06:19] ellioseven opened #264 "Mocking Documentation"
I'm trying to write out a test that attempts to mock stream:

[code]

This doesn't work, children within `Feed` don't seem to render. I've tried to mock a client in order for `Feed` to create a manager.

Is there a strategy available to mock/stub the React API?

[2021-05-18 20:48] fearless23 opened #265 "'__spreadArray' is not exported from 'tslib'."
Simple ui component:
[code]

gives following error:
error - ./node_modules/react-activity-feed/dist/components/RepostButton.js
Attempted import error: '__spreadArray' is not exported from 'tslib'.

"react-activity-feed": "^1.1.0", tried with v1.0.0 as well

[2021-05-18 20:53] fearless23 commented on #265
solved by
[code]

but this should not be the case

[2021-05-19 01:08] arnautov-anton commented on #265
Hey, @fearless23! Thank you for opening this issue. Tested [here](https://codesandbox.io/s/festive-nightingale-cxntw) and it does not seem to throw such error for me. Could you please try to remove `node_modules` folder and run `npm i`/`yarn` and let me know if it happens again.

[2021-05-19 01:10] arnautov-anton commented on #263
Thank you for posting this issue! Sorry for the delay, will take a look ASAP.

[2021-05-19 03:20] ellioseven commented on #264
This is how I've currently managed to mock and assert a client post request, such as `addActivity`: https://gist.github.com/ellioseven/91ada81d774dfb68a95f29cece258ac4

[2021-05-19 15:38] augustosamame commented on #90
We also have this issue. After spending weeks setting up a full fledged integration with getstream.io, we find that the feed is not updated for removeActivity, which renders our whole integration useless.
Not sure why this would be "intended behaviour", but since it is, there needs to be a way for the component to detect the change in the feed data and trigger the refresh.

[2021-05-20 08:35] arnautov-anton commented on #263
@ellioseven Bug has been fixed and merged  to `main`, should work fine in the next release. :)

[2021-05-20 08:59] #176 closed

[2021-05-20 09:06] arnautov-anton commented on #202
Hi, @parthsavaliya1, could you please share a bit more information about this issue? Like how do we replicate it, what is desired behaviour and what's currently bothering you. Screnshots/code snippets/videos, anything that we could work with, thanks!

[2021-05-20 12:55] mahboubii commented on #265
fixed in v1.1.1

[2021-05-20 12:55] #265 closed

[2021-05-20 12:55] mahboubii commented on #263
Fixed in v1.1.1

[2021-05-20 12:55] #263 closed

[2021-05-20 15:44] augustosamame commented on #90
Since getstream people seem to be unresponsive, here's what we did to solve this issue.
Whenever an activity is deleted, there is actually a websocket communication sent:

![image](https://user-images.githubusercontent.com/16038063/119008659-fcd45800-b957-11eb-849b-09f7365bbf44.png)

You can listen for this data stream and reload the component to show the updated feed.

Hope this helps someone tha

[2021-05-20 22:59] ellioseven commented on #263
Beautiful, thanks guys <3

[2021-05-24 02:33] ellioseven commented on #263
@arnautov-anton I still seem to be hitting this after updating to 1.1.1:

[code]

This seems to be happening when the component is being unmounted, triggered by a Next.js route change.

I am using the `Feed` and `StreamApp` components in this library.

[2021-05-24 07:39] fearless23 opened #271 "Can't resolve '@fortawesome/free-regular-svg-icons'"
## The issue occurs on vercel build, but no errors in local build
[code]

[2021-05-24 07:48] fearless23 commented on #271
React: 16.13.0
Node: 12.21.0
Next JS: 10.12.0

Tested with multiple `react-activity-feed` versions:
- 1.0.0
- 1.1.0
- 1.1.1

[2021-05-24 08:04] fearless23 commented on #271
Fixed by installing
- "@fortawesome/free-regular-svg-icons": "^5.15.3"
- "@fortawesome/react-fontawesome": "^0.1.14"

Above is a hack and these packages should be part of `react-activity-feed`

[2021-05-24 08:08] fearless23 commented on #271
I see above packages used in
### `src/components/Audio.tsx`
[code]
and
### `src/components/StatusUpdateForm.tsx`
[code]

[2021-05-24 10:05] arnautov-anton commented on #271
Thank you for bringing this up! Code with these packages should've been replaced with custom icons due to final bundle size. Will take a look ASAP.

[2021-05-24 10:06] #202 closed

[2021-05-24 10:06] #155 closed

[2021-05-24 10:11] arnautov-anton commented on #263
Hey, @ellioseven, that's weird but possible since the fix was tested with CRA. Will do some testing with Next.js and I'll let you know ASAP. Could you also share the whole error that pops up in your implementation please?

[2021-05-25 01:45] ellioseven commented on #263
![image](https://user-images.githubusercontent.com/4191120/119427511-8025ed00-bd4e-11eb-8c91-5dbe6e47dc85.png)

This seems to be coming from the `unsubscribe` method in `FeedManager.tsx`

[2021-05-25 13:33] arnautov-anton commented on #271
Hey, @fearless23! Fixed the issue in #272, closing for now! :)

[2021-05-25 13:33] #271 closed

[2021-05-26 22:28] arnautov-anton commented on #263
Hey, @ellioseven! After a long while of testing I still can't seem to reproduce the issue...

Here's the simplest Next.js setup I could come up with to test this thing as close to yours as possible:
![image](https://user-images.githubusercontent.com/43254280/119738422-fb87bb80-be80-11eb-8c93-15b2985dcf06.png)

And here's the result:

https://user-images.githubusercontent.com/43254280/119738688-5f1

[2021-05-27 00:12] ellioseven commented on #263
@arnautov-anton

Re-installing didn't fix unfortunately. Seems strange to me as it seems to me that the source actually checks for an undefined subscription, maybe it's an issue with the compiled code? Could be a race condition?

I'll try to get you a reproduceable example as soon as I can.

Worth noting I'm using the router like so:

[code]

[2021-05-27 10:10] arnautov-anton commented on #263
@ellioseven Is it possible for you to recreate that issue on [codesandbox.io](https://codesandbox.io/)? As for the code snippet you shared; everything seems to be okay. I don't see any issue with the way you're using the router.

[2021-05-28 11:21] arnautov-anton commented on #93
Hey, @surferwat, just wanted to check in and ask if this is still happening after 1.0.0 update. Let me know so we can close this one or investigate further.

[2021-05-28 11:45] arnautov-anton commented on #112
Closing for now as there has not been any response from the issuer for a while. Feel free to reopen if anything changes.

[2021-05-28 11:45] #112 closed

[2021-05-29 22:06] surferwat commented on #93
Hi @arnautov-anton, I've shutdown the relevant app, so can't say. Thanks for checking in though.

[2021-05-31 19:47] arnautov-anton commented on #93
Closing for now as theres no `dist/index.es.css` anymore and thus this should not cause any issues anymore. Feel free to @ me so we can reopen this if anything similar pops up.

[2021-05-31 19:47] #93 closed

[2021-06-03 21:25] arnautov-anton commented on #88
Closing since there has not been any activity for a while.

[2021-06-03 21:25] #88 closed

[2021-06-03 21:42] arnautov-anton commented on #57
Hey, @Matiyeu and @sheng-duetto, please try and update the SDK to the newest version. This shouldn't be happening anymore as the whole `InfiniteScrollPaginator` has been replaced with the one that is used in our Chat SDK. Let me know if the issue still persists for you and we'll try and figure it out.

[2021-06-28 01:53] geshuming opened #278 "StatusUpdateForm pasting non-plaintext creates an error"
Simply copy pasting the "New Post" element in the same component will result in an error. Pasting other non-plaintext formats will also create an error

![statusupdateform-error](https://user-images.githubusercontent.com/43642522/123568152-500eb580-d7f6-11eb-95f8-760e0cca250d.gif)

[2021-06-28 12:23] arnautov-anton commented on #278
Hey, @geshuming, thank you for submitting this issue! I'll take a look ASAP and get back to you.

[2021-07-02 05:55] geshuming opened #280 "LikeButton rerenders all activities in the feed when it shouldn't"
[code]

When I press a like on one activity, it would rerender all the activities in the FlatFeed. I feel like it should only rerender the LikeButton component, it shouldn't even rerender my custom ActivityFeedComments component, or the other Activity components.

Or am I doing something wrong?

[2021-07-02 09:03] geshuming commented on #280
I figured out that it's because the LikeButton is wrapped inside a functional component, and so that anonymous component is actually the component getting rerendered:
[code]
should change to
[code]

I was following the tutorial on https://getstream.io/react-activity-feed/tutorial/#comments, so maybe the code snippet there should be updated?

[2021-07-05 01:31] r0zar commented on #117
I'm also seeing this issue, specifically with the `NotificationDropdown` component. Has there been any update on this?

[2021-07-05 02:12] r0zar commented on #117
I was able to workaround the issue by modifying the default Group prop

[code]

The issue seems to lie with how Activity, Group, are rendered based on the given props. The activity payload is clustering activities into activities lists, while the react-activity-feed JSX components are expecting single activity items.

[2021-07-05 09:45] arnautov-anton commented on #280
Thank you for letting us know about this issue, @geshuming! Footer property allows you to use function component for you to be able to access the render properties of the Footer. You'd usually define such component somewhere in your codebase and thus it wouldn't be anonymous anymore and wouldn't cause unwanted renders which is [default behaviour of the React](https://reactjs.org/docs/faq-functions

[2021-07-05 09:45] #280 closed

[2021-07-05 09:51] arnautov-anton commented on #278
Issue has been fixed, merged and the new version of the SDK released. Please update your package and let me know if something else pops up! :)

[2021-07-05 09:51] #278 closed

[2021-07-05 17:08] donson-gallardo commented on #117
Having the same issu

Having the same issue

[2021-07-16 10:52] #36 closed

[2021-08-04 11:29] monzoor-rm commented on #117
`<NotificationDropdown
    notify
    feedGroup="notification"
    Group={(props) => {
        return <Notification activityGroup={props.activityGroup} />;
    }}
/>`
This will work

[2021-08-04 23:34] Rykuno commented on #117
Does not work for me. Running Next w/ React17 and im unable to get the component to render. It shows when new notifications are available, but you are unable to see once selecting it.

[code]

[2021-08-04 23:35] r0zar commented on #117
I'm seeing this issue crop back up again myself.

[2021-08-04 23:36] r0zar commented on #117
Old workaround ain't cutting it anymore.

[2021-08-05 13:57] Rykuno commented on #117
I'm pretty new to this package but I'll dive in today after work to see what I can find.

I wonder if it anyone w/ React 17 has this working for them at all.

[2021-08-05 16:33] Rykuno commented on #90
I'm running into this issue as well. When a user's page isnt cached within NextJS it listens for new changes, but navigating back to a subsequent user's feed after caching it does not trigger. I was hoping there would be a manual way to go about this.

[2021-08-05 18:52] Rykuno commented on #263
I'm running into the same issue with my routes such as`/user/[username]`.

When navigating away from pages it's failing `cancel` on the FeedManager. Quite a bit of work to recreate in a sandbox but i'll give it a shot after work.

[2021-08-07 05:39] Rykuno opened #284 "Activity not refreshing after adding reaction"
When utilizing the built in `<CommentField activity={activity} />` component, whenever a comment is created, it seems to automatically update the activity to reflect said submitted comment.

Although when making the `reactions.add()` call on the backend, it does not trigger a live update to the activity within the flat feed. I'm rather new to the library and might be missing something. I'm utilizi

[2021-08-07 16:57] Rykuno opened #285 "Error: Cannot read property 'cancel' of undefined - NextJS"
When navigating between Pages within NextJS, the streams upon subsequent pages appear failing to close. I might be wrong about the implication but it seems relatively serious.

I'm using a dummy project created in my dashboard for this example.

### Error
[code]

I found an issue with related somewhat to this but it was closed due to a contributor unable to reproduce it. So I've provided an exampl

[2021-08-08 13:39] #284 closed

[2021-08-15 17:58] AnkurSavaliya opened #288 "FlatFeed notifier text not working , when we change local language of feed activity"
I give i18instance with language Hindi in Stream APP and  when we get new feed activity it show Notifier text in english, but i want this Notifier text also in Hindi.

Notifier text in FlateFeed :
"You have 1 new activity"

my expected out put is :  "आपके पास 1 नई गतिविधि है"

[2021-08-16 23:28] arnautov-anton commented on #288
Hey, @AnkurSavaliya! This is not an issue but rather default behaviour of the `FlatFeed` which uses its own `DefaultNotifier` with custom properties `labelPlural` and `labelSingle` which do not get translated.

You could override this default notifier by importing `NewActivitiesNotification` and passing it down to `FlatFeed`'s `Notifier` property as such :
[code]
But this defaults to these transla

[2021-08-16 23:28] #288 closed

[2021-08-18 05:46] AnkurSavaliya commented on #288
I will check and updated you soon.
Thank you!

[2021-08-18 10:46] AnkurSavaliya opened #289 "Localize emoji picker in FlatFeed."
I want to localize emoji picker in flat feed, how can i do that?

[2021-08-18 16:15] arnautov-anton commented on #285
Hey, @Rykuno! Thank you for taking your time and sharing the reproducible code with us. The PR that addresses this is on the way and should be out in no time. I'll close this issue once it gets merged and release is ready. :)

[2021-08-18 20:10] #285 closed

[2021-09-08 09:22] #70 closed

[2021-09-10 10:24] MartinCupela commented on #122
Hey @PathFinder5196 @kzazarashvili ! Thank you for reporting your issues. Could you please provide us with more details in order we can replicate the problem? Codesandbox.io or link to your repo would help us a lot.

Thank you in advance

[2021-09-13 07:45] MartinCupela commented on #127
Hi @TylerAHolden , I apologize for the delay in response. Did you manage to find workaround or you are still stuck with crashing StreamApp component? Questions that come into my mind:

1. What would you like to happen, if the StreamApp component didn't require the token? How should other feed components behave?
2. Is it not possible in your scenario to render StreamApp component conditionally - on

[2021-09-13 07:57] MartinCupela commented on #289
Hi @AnkurSavaliya , `EmojiPicker` component is localized in  `src/components/EmojiPicker.tsx` and it is used in the `StatusUpdateForm`.

[2021-09-13 08:15] MartinCupela commented on #264
Hey @ellioseven ,

thank you for raising this issue. Actually, I do see problem in the approach you have taken. If I understood well, you are aiming at writing unit tests for your components. In that case you should test only those components alone. Isolated. If you use StreamApp in your unit tests, you will inevitably introduce websocket connection to the Stream back-end infrastructure. In that c

[2021-09-13 12:30] AnkurSavaliya commented on #289
Hi @MartinCupela  i am using version : 0.10.9, so can manage on that ?

[2021-09-13 13:27] MartinCupela commented on #289
@AnkurSavaliya can you share some code snippet in order the get a better idea of what you are looking at? Maybe some Github repo with specific branch or gist or sandbox.io example?

Thank you

[2021-09-13 13:34] AnkurSavaliya commented on #289
https://prnt.sc/1s27atj
I want to translate this text to Spanish language.
https://getstream.github.io/react-activity-feed/components/status-update-form
i use this as reference and my library current version is 0.10.9

[2021-09-14 09:07] MartinCupela commented on #289
Hi @AnkurSavaliya, thank you for the additional information. We are looking into it. You are right, that currently it is not possible to pass your own translations for those strings you highlighted.

I will let you know as soon I have answer for you.

Meanwhile, if you have any further question concerning the issue, please feel free to ask.

[2021-09-15 16:02] TylerAHolden commented on #127
I can't confirm if this is still an issue since the library has probably been changed quite a bit over the last 9 months.

To answer your questions directly:

1. I would like the StreamApp component to not throw an error for a null/undefined token - it should be acceptable to not have authentication especially for something that requires an API request. The other feed components should return empt

[2021-09-15 18:28] MartinCupela commented on #127
@TylerAHolden I would like to learn more about your architecture, because I want to understand your use case. Would you mind to have a short google meet call in the near future, where we could discuss it?

[2021-09-15 18:31] TylerAHolden commented on #127
Sure

[2021-09-15 18:36] MartinCupela commented on #127
What is your timezone?

[2021-09-15 18:36] TylerAHolden commented on #127
Texas - CST

[2021-09-15 18:45] MartinCupela commented on #127
Ok, I am in central Europe so tomorrow I will try to come with more specific day and time possibilities. Is 7am-10am (you local time) window ok for you?

[2021-09-20 13:59] tomjohnhall opened #298 "Typescript error in getstream (using StreamApp)"
Build time error when importing `{ StreamApp }` from `'react-activity-feed'` in a react project with

[code]

`getstream@7.2.11`

Any idea how to get around this?

[2021-09-20 19:57] ferhatelmas commented on #298
cc @MartinCupela

[2021-09-21 08:26] MartinCupela commented on #298
Hi @tomjohnhall, I could not reproduce the problem on my machine with getstream@7.2.11 and react-activity-feed@1.2.1. I used to get these type errors when I let my Webstorm do funny imports. Could you please attach the code, that would show the StreamApp component import? Just trying to start somewhere.

[2021-09-21 08:27] ferhatelmas commented on #298
How about TS version?

[2021-09-21 09:06] tomjohnhall commented on #298
@MartinCupela @ferhatelmas It was a typescript version issue in the end. I thought I'd already upgraded but obviously my `yarn upgrade` wasn't enough, I had typescript at 3.9.7 and I'm now at `4.4.3` and the import works.

I also had to install `@typescript-eslint/eslint-plugin` and `@typescript-eslint/parser` at `^4.1.1` for anyone who comes across someting similar in future.

Thanks for your hel

[2021-09-21 09:06] #298 closed

[2021-09-22 12:58] MartinCupela opened #301 "AttachedActivity component tries to render activity.object as string"
Component AttachedActivity is rendered by Notification component. It renders the content of `activity.object` if there are no attachments and if the `activity.verb` is not one of: `'post', 'repost', 'comment'`. This is however incorrect because e.g.  `activity.verb === 'repost'` then `typeof activity.object` is object and the render fails.

![image](https://user-images.githubusercontent.com/327061

[2021-09-24 09:19] MartinCupela opened #303 "Allow FeedManager methods to accept activity type Activity | EnrichedActivity"
`FeedManager` methods that accept `activity` as argument expect it to be of type `Activity` and not `EnrichedActivity`. On the other hand, the react-activity-feed components are working always with `EnrichedActivity` objects and that leads to type conflict when calling e.g. `feed.onAddReaction` inside the component. However these `FeedManager` methods could accept `EnrichedActivity` as well, witho

[2021-09-24 09:23] MartinCupela commented on #289
Hey @AnkurSavaliya, next week we expect to release the fix for this issue. I will let you know :)

[2021-09-24 09:33] AnkurSavaliya commented on #289
@MartinCupela

Thank you!

[2021-09-24 10:24] arnautov-anton opened #304 "Child reactions of child reactions do not get updated properly"
When user creates a reply comment to a parent reaction and then right after tries to create another child reaction to that newly created child reaction (of kind `like` in this instance) - the `own_children` key (and basically other keys also) of that object won't get updated properly. The application crashes while trying to find path with `FeedManager.getReactionPaths` which returns `undefined` in

[2021-09-24 15:43] #127 closed

[2021-09-28 06:49] jakejakeho-seekers opened #305 "Batch Activity Add"
Hi, may i know how to configure Batch Activity Add.
https://getstream.io/activity-feeds/docs/javascript/add_many_activities/?language=javascript#batch-activity-add

I am trying to make a public feed group which allow people to post there.
While they publish to public feed, I also want the feed appear in user own feed.
May I know if this library can achieve this?

UPDATES:
https://getstream.io/acti

[2021-09-29 10:35] MartinCupela commented on #289
@AnkurSavaliya New version of react-activity-feed is available. You can now pass new prop `emojiI18n` to `StatusUpdateForm` component. It is an object that allows you to pass your own strings to specific parts of the EmojiPicker.

Can we close this issue?

[2021-09-29 11:56] AnkurSavaliya commented on #289
@MartinCupela

[2021-09-29 11:58] MartinCupela commented on #289
@AnkurSavaliya Version 1.3.0

[2021-09-29 12:06] AnkurSavaliya commented on #289
@MartinCupela

In this newer version any thing else changes.
Or just changes of my issue?

[2021-09-29 12:13] MartinCupela commented on #289
@AnkurSavaliya please check the link below for more details regarding changes introduced with the version 1.3.0:

https://github.com/GetStream/react-activity-feed/releases/tag/v1.3.0

[2021-10-04 01:56] #305 closed

[2021-10-11 12:34] josephcooney opened #308 "Is it possible to have FlatFeed automatically show new activities?"
Is it possible to have FlatFeed automatically show new activities instead of having the Notifier shown, and requiring the user to click on the notifier?

[2021-10-16 09:40] #308 closed

[2021-11-17 13:38] eddievlagea commented on #30
Does this work for React Native as well?

[2021-11-21 13:17] juanludlf commented on #127
Hi @TylerAHolden @MartinCupela

Did you solve this problem?

[2021-11-21 13:24] MartinCupela commented on #127
@juanludlf this request is in backlog for now

[2021-12-07 15:54] danypype opened #315 "humanizeTimestamp is not handling string timestamps with timezone in format ±hh:mm"
See Pull Request https://github.com/GetStream/react-activity-feed/pull/314

[2021-12-14 09:44] #315 closed

[2021-12-22 22:56] antishok commented on #304
Hi, we're seeing the same, or a very similar issue.
When replying to a comment, `FeedManager.getReactionPaths` is called on an `activity` param which is actually the comment object (the comment to which we're replying) and returns undefined, causing an error.
Any updates on this? Thanks

[2021-12-23 03:35] antishok commented on #304
In case it helps, this is the gist of what we're doing:
[code]

[2021-12-23 13:41] arnautov-anton commented on #304
Hey, @antishok! Sadly, no update yet, but the reply functionality (activity -> comment -> reply comment) is unaffected by this. It's the children of reply comments (likes or other sub-reply comments) that cause this issue, which is also a maximal nesting depth allowed by the BE.

[2021-12-23 15:36] antishok commented on #304
Thanks for the reply @arnautov-anton.
That's odd then because we _are_ having this issue with just replies to comments (to activities),
but maybe we are doing something wrong on our end.

Can you please confirm that the usage I showed above is correct?
Specifically this part:  `<CommentField activity={comment_props.comment} />`
Is it correct to pass the comment object as the activity to `CommentFi

[2021-12-23 16:54] arnautov-anton commented on #304
Sure! Here's a [simple example](https://gist.github.com/arnautov-anton/ddad4302d8f13a2c2037d804ccfeafb7) I've been using for testing - works fine without the likes on the replies. Yours seems to be pretty close to how it's used normally but feel free to try it out and let me know if you're still experiencing the issues.

Also I'm sorry about the missing documentation - we're currently working on i

[2021-12-23 17:58] antishok commented on #304
Thanks for the example.
But it seems pretty different, you are not using `CommentField`, but using `useFeedContext` - what is that? Is it documented somewhere?

[2021-12-23 21:11] antishok commented on #304
Figured it out - and your method indeed seems to work, so thanks a lot.
Unfortunately it requires re-implementing the `CommentField` component, and using undocumented API's :)

[2021-12-24 01:04] antishok commented on #304
I've modified `CommentField` to work with comment replies,
I'll share it here in case it's useful to someone: [CommentReplyField.jsx](https://gist.github.com/antishok/6a0f5e85bfbae615d360fdff8c167c9f)

[2021-12-24 12:26] arnautov-anton commented on #304
Hey again, @antishok! I missed your point at first but I understand now, I'll create a separate issue to extend current `CommentField` component to accept `comment` as well as `activity` object so it can be used with comment replies. Thank you for pointing this out and thank you for your contribution. :slightly_smiling_face:

[2021-12-24 12:38] arnautov-anton opened #317 "Make `CommentField` accept `comment` object for replies to comments"
`CommentField` component lacks the ability to accept `comment` object to post replies to comments as child reactions.

- extend `CommentField` with `comment` property
- add `FeedManager.onAddChildReaction` to the submit function if `comment` object is supplied

_Originally posted by @antishok in https://github.com/GetStream/react-activity-feed/issues/304#issuecomment-1000381995_

[2022-03-01 22:55] benhunterandrewrobertson commented on #284
Hi @Rykuno, how did you end up resolving this? Thanks

[2022-03-02 21:43] MartinCupela opened #335 "Stale dependency emoji-mart bug fails to find emoji for token `-`"
If a user types `":-"` into `StatusUpdateForm` then error is thrown. The reason is that the `emojiTrigger` returns `TriggerType` with `dataProvider` that returns an array in form `[undefined]`. This is caused because the underlying call to `NimbleEmojiIndex.search()` does not handle correctly search for token `-` (and `-1`):

![image](https://user-images.githubusercontent.com/32706194/156454014-9c

[2022-03-03 09:03] #335 closed

[2022-03-03 14:50] MartinCupela opened #337 "Add CONTRIBUTING.md"

[2022-03-03 14:57] MartinCupela opened #338 "Allow for custom mentions trigger controller to be plugged to StatusUpdateForm"

[2022-03-11 05:47] MartinCupela opened #344 "feature: deprecate url-parse"
**Problem / Motivation**

Soft deprecation notice in [`url-parse` package](https://www.npmjs.com/package/url-parse):

`url-parse` was created in 2014 when the WHATWG URL API was not available in Node.js and the URL interface was supported only in some browsers. Today this is no longer true. The URL interface is available in all supported Node.js release lines and basically all browsers. Consider u

[2022-03-11 13:22] MartinCupela opened #345 "feature: Move docs to docusaurus"
**Problem / Motivation**

Remove /docs folder and publish documentation with Docusaurus. This is in order not to keep built source code for docs pages in the repo and also to follow the standard of other GetStream libraries.

[2022-03-11 13:23] MartinCupela opened #346 "feature: Automate release processes"
**Problem / Motivation**

Automate versioning and publishing to NPM.

[2022-04-07 09:58] valoricDe opened #348 "Typescript Types hard to extend properly"
Hey there.
After building my app I would like to strengthen the types I'm using to get away from 'any's.

My types are looking like:

[code]
I want to give it to `EnrichedUser<IFeedUserType>` but EnrichedUser is expecting to extend a generic record which has no fixed property key set. `export type UR = Record<string, unknown>;`

<img width="584" alt="Bildschirmfoto 2022-04-07 um 11 53 18" src="htt

[2022-04-12 20:18] MartinCupela commented on #348
Hey @valoricDe, thank you for the question. Try to change the `interface IFeeduserType` to `type IFeedUserType`.

This discussion may be related to your question:

https://github.com/microsoft/TypeScript/issues/15300#issuecomment-332366024

Did this answer help you?

[2022-04-14 12:36] valoricDe commented on #348
Interesting. Yes, switching to types helped. Thank you for the pointer 👍

[2022-04-14 12:36] #348 closed

[2022-04-15 12:11] Rushu-geek opened #352 "bug: StatusUpdateForm throwing error using modifyActivityData prop to add "to" target users."
**Describe the bug**

I am using getstream in react-native application. To add feed activities I am using react-native component "StatusUpdateForm" where I want to target users so that the activity should also display in those targeted user's feed. I looked for way to implement it and after searching on so much time on internet I got some reference to do it. We can add modifyActivityData prop and

[2022-05-26 15:53] srestrepo-overactive opened #355 "bug:You are publicly sharing your App Secret. Do not expose the App Secret in browsers."
**Describe the bug**

You are publicly sharing your App Secret. Do not expose the App Secret in browsers, "native" mobile apps, or other non-trusted environments.

**To Reproduce**

Steps to reproduce the behavior:

You are publicly sharing your App Secret. Do not expose the App Secret in browsers, "native" mobile apps, or other non-trusted environments.

![image](https://user-images.githubusercon

[2022-05-26 16:57] #355 closed

[2022-06-15 14:50] KevinEonix opened #358 "feature: React 18 support"
**Problem / Motivation**

Add the support for react 18 because it prevent to install other dependencies

**Proposed solution**

Add the version number support

**Describe alternatives you've considered**

Use the flag `--legacy-peer-deps` but not convenient for the CI/CD

**Additional context**

The changes of React 18 are not broken, i think just to add the number would be enough

[2022-08-22 10:57] duckwaffle opened #364 "feature: Ability to manually control NotificationDropdown open/closed state"
**Problem / Motivation**

There doesn't seem to be any mechanism to open/close the NotificationDropdown control without simulating a click event on the parent element in the dom. It would be incredible if it were possible to programmatically open/close the NotificationDropdown control.

**Proposed solution**

Expose a `boolean?` property named `isOpen` or something along those lines, which is moni

[2022-09-02 13:53] humbkr commented on #30
I just wasted 2 hours on this, to make it work with a custom Notification component, in your component you have to use the useFeedContext hook:
[code]

[2022-09-08 13:42] humbkr opened #365 "bug: Specifying a prop on InfiniteScrollPaginator on NotificationDropdown's Paginator props breaks the component"
**Describe the bug**

Specifying the Paginator prop as a JSX element breaks NotificationDropdown: no notifications nor loader are displayed, the content is empty.

**To Reproduce**

[code]
It works with:
`Paginator={InfiniteScrollPaginator}`

Use case:
I need to specify a custom Loader prop on InfiniteScrollPaginator and it's impossible due to this bug.

**Expected behavior**

I can pass a custom

[2022-09-12 09:55] humbkr opened #366 "bug: NotificationDropdown feed marks notifications as seen at first load"
**Describe the bug**

When the NotificationDropdown components loads, after the first API call to fetch the feed, a second "refresh" one with `mark_seen: true` is instantly made without any user interaction, so all the notifications are marked as read and the new notifications badge is never displayed.

**To Reproduce**

- send new unseen notifications to the feed
- open a page using the Notificat

[2022-10-12 21:49] ahsanihsan opened #367 "feature:"
**Problem / Motivation**

I would like to know if there is any way to show the feed in grid form? I would like to show 3 posts per column.

[2022-10-19 07:49] krupesh-j opened #368 "bug: getting same entry of the same activity for multiple times if a user has opened multiple tabs"
We have the functionality to show notifications to users, and for that, we use the getstream.io service and react-activity-feed package.
When a user subscribes to the StramApp component we get that response through getstream's API (GET method).

The issue here we are facing - If a user has opened two or multiple tabs, and subscribes to the StreamApp component on each tab then we are getting multip

[2022-10-26 13:15] onebelarusianguy commented on #61
@dubitoergo Hi, did you find a solution for this? If yes, could you share it?

[2022-10-31 14:39] ohitsdoh commented on #366
a workaround that seems to work for me is to set `mark_seen` as `false`, then to set the Group prop in <NotificationDropdown /> to a custom component that uses `onMarkAsSeen` from `useFeedContext` to set activity groups that haven't been seen yet as seen.

[2022-11-30 13:43] krupesh-j opened #373 "feature: Ability to update/edit the comment of a post"
**Problem / Motivation**

It will be good that we have the ability or functionality to update/edit the comment of a post, currently, there is no way to update the comment. it will be a plus point for this repo and users too.

If there is any way to update/edit the comment, please mention it here.